[Unit]
Description=a command-line dead man's switch
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
PIDFile=/run/dms.pid
ExecStartPre=/usr/bin/rm -f /run/dms.pid
ExecStart=/usr/bin/dms
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStopSec=10
KillMode=process
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
